@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    background: #101014;
    font-family: 'Montserrat';
}

.menu{
    margin-right: 2%;
}

.bannerOne .container-fluid {
    background-image: url('../Imagens/Banner1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .bannerOne .container-fluid {
        min-height: 300px; /* Reduz a altura mínima */
        background-position: top; /* Altera o foco da imagem */
    }

    .bannerOne .container-fluid h1 {
        font-size: 2rem; /* Reduz o tamanho do texto */
    }

    .bannerOne .container-fluid .mt-5 h2 {
        font-size: 1.5rem; /* Reduz o tamanho do subtítulo */
    }
}

.bannerOne .container-fluid h1{
    color: #fff;
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.bannerOne .container-fluid .mt-5 h2{
    
    color: #fff;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.bannerOne form .form-control{
    border-radius: 30px;
    border: 1px solid #ccc;
}

.bannerOne form .btn{
    border-radius: 30px;
    background: var(--botao-2, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(41deg, #198613 -47.31%, #FFF316 95.17%));
    color: #fff;
    font-weight: bold;
    border: none;
}

.logo{
    width: 20%;
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    margin-left: left;
    width: 300px;

}

/* .............................................................. */



.secondNavBar{
    background-color: #1D818C;
    color: black;
    padding-bottom: 3%;
    width: 100%;
    flex-direction: line;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.descricao h2{
    width: 100%;
    font-size: 5rm;
}

.icones img{
    margin-top: 10%;
}

.linha img{
    margin-top: 10%;
    height: 5px;
}

.paginas{
    margin-left: 8%;
    
}

.logofinal img{
    height: 50px;
    margin-left: 28%;
}
.iconesfinal img{
    margin-left: 50%;
    margin-top: 20px;
    height: 80px;
    width: 80px;
}
